@model vente_en_ligne.Models.PanierPrinc

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PanierPrinc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Utilisateur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Utilisateur.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCréation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCréation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
